@model HomeVM

@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <div class="columns">
            <div class="column">
                <form method="GET">
                    <div class="field">
                        <label for="search" class="label">Search</label>
                        <input class="input" type="text" value="@Model.Search" name="search" id="search" />
                    </div>
                    <div class="field">
                        <div class="control">
                            <input type="submit" value="Search" class="button is-link" />
                            <a asp-action="Index" asp-controller="Home" class="button is-default">Clear</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="column">
                <form asp-action="AddDirectory" asp-controller="Home" method="POST">
                    <div class="field">
                        <label class="label" for="directory">Directory</label>
                        <input class="input" type="text" name="directory" id="directory" value="" />
                    </div>
                    <div class="field">
                        <div class="control">
                            <input type="submit" value="Add" class="button is-link" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                @if (string.IsNullOrWhiteSpace(Model.Search))
                {
                    <a asp-action="Index" asp-controller="Home" asp-route-page="@Model.NextPage">Next Page</a>
                }
                else
                {
                    <a asp-action="Index" asp-controller="Home" asp-route-search="@Model.Search" asp-route-page="@Model.NextPage">Next Page</a>
                }
            </div>
        </div>
        <form class="image-list-form" asp-action="Update" asp-controller="Home" method="POST">
            <input type="submit" value="Update" class="button is-success" />
            <div class="columns">
                <div class="column">
                    @foreach (var imageEntry in Model.ImageForms)
                    {
                        var image = imageEntry.Value;

                        <div class="image-block">
                            <a asp-action="Single" asp-controller="Home" asp-route-id="@image.Id">
                                <img src="/Home/ShowFile/@image.Id" width="250" alt="@image.Path" />
                            </a>
                            <input type="hidden" value="@image.Id" name="imageForms[@image.Id].Id" />
                            <input class="input" type="text" value="@image.Name" placeholder="name" name="imageForms[@image.Id].Name" />
                            <input class="input" type="text" value="@image.Category" placeholder="category" name="imageForms[@image.Id].Category" />
                            <input class="input" type="text" value="@image.Tags" placeholder="tag1,tag2,tag3" name="imageForms[@image.Id].Tags" />
                            <label>
                                <input type="checkbox" value="@image.Rename" name="imageForms[@image.Id].Rename" />
                                Rename
                            </label>
                        </div>
                    }
                </div>
            </div>
        </form>
    </div>
